<div class="contact-wrapper background">
  <div class="contact">
    <h3>Contact me</h3>
    <a class="btn" href="https://github.com/chrissvo" target="_blank"><i class="fa fa-github"></i> GitHub</a>
    <a class="btn" href="https://www.linkedin.com/in/christianvanommeren" target="_blank"><i class="fa fa-linkedin"></i> LinkedIn</a>
    <a class="btn" href="https://twitter.com/chrissvo" target="_blank"><i class="fa fa-twitter"></i> Twitter</a>
    <a class="btn" href="mailto:christian@crvo.nl"><i class="fa fa-envelope"></i> Email</a>
    {{#link-to 'resume' class="btn"}}<i class="fa fa-mail-reply"></i> Read my resume{{/link-to}}
  </div>
</div>