<div class="index-wrapper background">
  <div class="introduction">
    <h1>Hi, my name is Christian</h1>
    <p>I'm a young professional, an entrepreneur, a project manager, with a serious interest in coding, data analysis, business intelligence.</p>
    <p>Skills that should be used to engineer processes, back strategies, and streamline business as usual.</p>
    <p>This web application is set up for you to get to know me.</p>
    {{#link-to 'resume' class="btn"}}Read my resume{{/link-to}}
    <a class="btn">Get in touch</a>
  </div>
</div>