<div class="introduction">
  <h1>Hi, my name is Christian</h1>
  <p>Glad you're here! At this point you have 3 options:</p>
  <a class="btn">Get to know all about me!</a>
  <a class="btn">Get in touch</a>
  <a class="btn">Bounce</a>
</div>