<div class="index-wrapper background">
  <div class="introduction">
    <h1>Christian van Ommeren</h1>
    {{#link-to 'resume' class="btn"}}Read my resume{{/link-to}}
    {{#link-to 'contact' class="btn"}}Contact{{/link-to}}
  </div>
</div>