<div class="index-wrapper background">
  <div class="introduction">
    <h1>Hi, my name is Christian</h1>
    <p>I'm a young professional, an entrepreneur, and a project manager with a serious interest in coding, data analysis, and business intelligence.</p>
    <p>With these skills I love to engineer processes, back strategies, and streamline business as usual.</p>
    {{#link-to 'resume' class="btn"}}Read my resume{{/link-to}}
    {{#link-to 'contact' class="btn"}}Get in touch{{/link-to}}
  </div>
</div>