// resume layout

body {
  background-image: url('https://christian.surf/assets/images/backgrounds/red_shoes.jpg');
}

.resume {
  background-color: $white;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
}
