// resume layout

.resume-wrapper {
  background-image: url('https://christian.surf/assets/images/backgrounds/redshoes.jpg');
  overflow: hidden;
  .resume {
    overflow: scroll;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
  }
}
